/* ------------------------------ start checkbox toggle theme  ------------------------------ */

@media only screen and (min-width: 200px) {
    .checkbox-toggle-theme label {
        width: 45px;
        height: 25px;
    }

    .checkbox-toggle-theme label:after {
        width: 15px;
        height: 15px;
    }
}

@media only screen and (min-width: 500px) {
    .checkbox-toggle-theme label {
        width: 60px;
        height: 30px;
    }

    .checkbox-toggle-theme label:after {
        width: 20px;
        height: 20px;
        font-size: 1.2rem;
    }
}

/* ------------------------------ end checkbox toggle theme  ------------------------------ */

/* ------------------------------ start information card  ------------------------------ */

@media screen and (max-width: 992px) {
    .information-card {
        max-width: 600px;
        height: 400px;
    }
}

@media screen and (max-width: 1000px) {
    .information-card {
        min-height: 425px;
        height: auto;
        margin: 200px auto 0 auto;
    }
}

@media screen and (max-width: 1000px) {
    .information-card__item {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .information-card__img {
        transform: translateY(-50%);
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .information-card__img {
        width: 95%;
    }
}

@media screen and (max-width: 1000px) {
    .information-card__content {
        margin-top: -125px;
        text-align: center;
        padding: 0 30px;
    }
}

@media screen and (max-width: 576px) {
    .information-card__content {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .information-card__button {
        width: 100%;
        margin: 0 0 30px 0;
    }
}

/* ------------------------------ end information card  ------------------------------ */

/* ------------------------------ start container , container-fluid  ------------------------------ */

@media screen and (max-width: 1060px) {
    .container {
        max-width: 100%;
        overflow: hidden;
    }
}

@media screen and (max-width: 1070px) {
    .container-fluid {
        padding: 8px;
    }
}

/* ------------------------------ end container , container-fluid  ------------------------------ */

/* ------------------------------ start profile-box section  ------------------------------ */

@media screen and (max-width: 1070px) {
    .profile-box {
        margin: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .profile-box .left-Box-main section .cards {
        padding: 0 !important;
    }
}

/* ------------------------------ end profile-box section  ------------------------------ */